<h1 class ="jumbotron"> <%= @store.name() %> </h1>
<div class="container">
  <% if  @store.shoes().any?()%>
    <ul>
    <%  @shoes.each() do |shoe|%>

    <li><a href="store/shoe/<%= shoe.id() %>"><%= shoe.brand() %></a> $<%= shoe.price() %></li>

    <% end  %>
    </ul>
    <% else %>
    <h4>Add Shoe Brands</h4>
    <% end  %>
  <hr>
  <a href="/store/<%= @store.id()  %>/update"><button class="btn" type="button" name="button">Change Store Name</button></a>
  <form action="/store/<%= @store.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">

    <button class="btn" type="submit">Delete This Store</button>
  </form>
  <hr>
  <a href="/store/<%= @store.id() %>/shoe/new"><button class="btn" type="submit">Add Shoes</button></a>
  <hr>
  <a href="/"><button class="btn" type="button" name="button">All Stores</button></a>

</div>
